streamlit
numpy
pandas
scipy
scikit-image
tifffile
matplotlib
tensorflow
stardist
csbdeep
imagecodecs
Pillow
streamlit-image-coordinates==0.4.1
torch
torchvision
timm
git+https://github.com/ChaoningZhang/MobileSAM.git
